<div class="section-header">
  <h2 data-i18n="card-collection"></h2>
  <button class="sc-btn sc-btn-blue sort-direction-desc" id="cards-sort-direction" data-i18n-aria-label="sort-direction-desc">▼</button>
  <button class="sc-btn sc-btn-blue" id="cards-sort-by" data-i18n="sort-by-creation"></button>
</div>
<div id="cards-list"></div>
<dialog id="card-preview-dialog">
  <header id="card-preview-config-selects-container" hidden>
    <div>
      <label data-i18n="page-label" for="card-preview-page-select"></label>
      <select id="card-preview-page-select"></select>
    </div>
  </header>
  <canvas></canvas>
</dialog>
