<nav class="tabs">
  <ul role="tablist">
    <li
      id="info-tab-chat"
      role="tab"
      aria-selected="true"
      aria-controls="info-tabpanel-chat"
      tabindex="0"
      data-i18n="info-tab-chat">
    </li>
    <li
      id="info-tab-about"
      role="tab"
      aria-selected="false"
      aria-controls="info-tabpanel-about"
      tabindex="-1"
      data-i18n="info-tab-about">
    </li>
    <li
      id="info-tab-changelog"
      role="tab"
      aria-selected="false"
      aria-controls="info-tabpanel-changelog"
      tabindex="-1"
      data-i18n="info-tab-changelog">
    </li>
    <li
      id="info-tab-credits"
      role="tab"
      aria-selected="false"
      aria-controls="info-tabpanel-credits"
      tabindex="-1"
      data-i18n="info-tab-credits">
    </li>
    <li
      id="info-tab-special-thanks"
      role="tab"
      aria-selected="false"
      aria-controls="info-tabpanel-special-thanks"
      tabindex="-1"
      data-i18n="info-tab-special-thanks">
    </li>
  </ul>
</nav>
<section class="content">
  <ul role="group">
    <li class="selected" id="info-tabpanel-chat" role="tabpanel" aria-labelledby="info-tab-chat">
      <div class="chat-header">
        <img src="/icons/any-192x192.png">
        <h3>CR Card Maker Clan</h3>
      </div>
      <div class="chat">
        <div class="chat-message-container">
          <div class="chat-message">
            <div class="chat-message-header">
              <div class="chat-message-from">Dabolus</div>
              <div class="chat-message-role" data-i18n="donation-message-role"></div>
            </div>
            <div class="chat-message-content">
              <p data-i18n="donation-message-content-1"></p>
              <p data-i18n="donation-message-content-2"></p>
              <p data-i18n="donation-message-content-3"></p>
            </div>
            <div class="chat-message-date" data-i18n="donation-message-date"></div>
          </div>
        </div>
        <div class="chat-request-container">
          <div class="chat-request">
            <div class="chat-request-header">
              <div>
                <div class="chat-request-from">Dabolus</div>
                <div class="request-header" data-i18n="donation-request-header"></div>
              </div>
              <div class="info-icon"></div>
            </div>
            <div class="chat-request-content">
              <div class="dollar-image">
                <div class="dollar-card-frame"></div>
              </div>
              <div class="donation-input-container">
                <label for="donation-input" class="donation-text" data-i18n="donation-request-text"></label>
                <input id="donation-input" type="number" min="0.05" step="0.05" value="5.00" data-i18n-title="donation-request-text">
              </div>
              <a id="donation-button" href="https://www.paypal.me/GiorgioGarasto/5.00usd" target="_blank" data-i18n="donation-request-button-text"></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li id="info-tabpanel-about" role="tabpanel" aria-labelledby="info-tab-about">
      <div class="info-box-container">
        <div class="info-box">
          <p>Hi Chief! Welcome to Clash Royale Card Maker!</p>
          <p>Clash Royale is a freemium mobile strategy video game developed and published by Supercell. The game combines elements from collectible card games, tower defense, and multiplayer online battle arena. The game was released globally on March 2, 2016.</p>
          <p>Thanks to this simple tool, you can create your own Clash Royale card! You can use it to give a better idea when you create a new card for Reddit or even just for fun!</p>
          <p>This tool was created by Giorgio Garasto, a Software Engineer who loves making websites and also loves Clash Royale. He initially built the tool just after Clash Royale was, released, when he was just 19 years old. If you like its work, please consider donating using the button you can find in the chat tab.</p>
          <p>Thank you!</p>
        </div>
      </div>
    </li>
    <li id="info-tabpanel-changelog" role="tabpanel" aria-labelledby="info-tab-changelog">
      <div class="info-box-container">
        <ul>
          <li>
            <div class="changelog-header">
              <h3>3.0.0-beta.1</h3>
              <time datetime="2025-10-16">2025-10-16</time>
            </div>
            <p>Added back full support for Italian, Spanish, and Portuguese languages.<br></p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>3.0.0-beta.0</h3>
              <time datetime="2025-10-15">2025-10-15</time>
            </div>
            <p>
              New implementation from scratch based on the experimental 2.0.0b version.<br>
              This new version has a lot of new features:
            </p>
            <ul>
              <li>On-card form editor</li>
              <li>New template based on modern Clash Royale cards</li>
              <li>Multi-page cards support</li>
              <li>Multiple templates support (the OG Clash Royale template is still supported!)</li>
              <li>Possibility to share directly from the UI (if your browser supports it)</li>
              <li>Possibility to save and view the cards locally in your browser</li>
              <li>Possibility to install and use the Card Maker without an internet connection!</li>
            </ul>
            <p>This is still a beta, but a lot of new features are planned for the future, only possible thanks to the new architecture:</p>
            <ul>
              <li>Possibility to load back and edit cards saved in the browser</li>
              <li>Possibility to create also Champions, Tower Troops, and Rulers</li>
              <li>Custom templates</li>
              <li>And much more!</li>
            </ul>
            <p>Also, some features available in version 1.x.x are not yet implemented, but they will be added soon:</p>
            <ul>
              <li>Web app language selection</li>
              <li>Card language selection</li>
              <li>JSON import/export</li>
            </ul>
            <p>Oh and by the way, the project is now open source! You can find the code on my <a href="https://github.com/Dabolus/cr-card-maker" target="GitHubRepo">GitHub</a>.</p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>2.0.0b</h3>
              <time datetime="2018-01-30">2018-01-30</time>
            </div>
            <p>
              Experimental version with on-card form that never made it out of the beta.
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>1.2.0</h3>
              <time datetime="2017-08-23">2017-08-23</time>
            </div>
            <p>
              Added Spanish translation
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>1.1.0</h3>
              <time datetime="2016-11-24">2016-11-24</time>
            </div>
            <p>
              Added Portuguese translation (thanks to <a href="http://supr.cl/RoyaleDicas" target="CRD">Clash Royale
              Dicas</a>!).<br>
              Started translating the whole website in the various languages.<br>
              Fixed the undefined type of troop problem that some users had.<br>
              Lots of bugfixes and improvements as suggested by you!
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>1.0.0 - Finally out of the beta!</h3>
              <time datetime="2016-11-07">2016-11-07</time>
            </div>
            <p>
              The created cards are now in HD.<br>
              You can now choose various options to save your card or to automatically upload it to imgur!<br>
              Resize and crop the card image as you wish!<br>
              Drag and drop the card properties to change their order.<br>
              Added Japanese translation (thanks to WCF20 for the translation).<br>
              Finally fixed the problems with Safari.<br>
              Many other fixes and enhancements.
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.4.1b</h3>
              <time datetime="2016-10-26">2016-10-26</time>
            </div>
            <p>
              Fixed compatibility issues with older browsers.<br>
              Added some missing icons.
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.4.0b</h3>
              <time datetime="2016-10-25">2016-10-25</time>
            </div>
            <p>Added an awesome info menu.</p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.3.0b</h3>
              <time datetime="2016-10-24">2016-10-24</time>
            </div>
            <p>
              Choose if you want the property icon background and the info button.<br>
              Restyled the donate process.
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.2.0b</h3>
              <time datetime="2016-10-23">2016-10-23</time>
            </div>
            <p>
              Added the possibility to switch the card language.<br>
              Now it is possible to export and import the cards in JSON format.
            </p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.1.1b</h3>
              <time datetime="2016-10-21">2016-10-21</time>
            </div>
            <p>Icons hotfix.</p>
          </li>
          <li>
            <div class="changelog-header">
              <h3>0.1.0b</h3>
              <time datetime="2016-10-21">2016-10-21</time>
            </div>
            <p>Initial release.</p>
          </li>
        </ul>
      </div>
    </li>
    <li id="info-tabpanel-credits" role="tabpanel" aria-labelledby="info-tab-credits">
      <div class="info-box-container">
        <div class="info-box">
          <p>First of all, a lot of credits go to Supercell for its incredible support to its fan community. I wouldn't be able to do anything without their Fan Kit and their community.</p>
          <p>Then, I'd like to thank my parents for supporting me in this little project and for making the first donation!<br>Thanks a lot dad.</p>
          <p>A lot of thanks also go to WCF20 and to <a href="http://supr.cl/RoyaleDicas" target="CRD">Clash Royale Dicas</a> for translating the website respectively in Japanese and in Portoguese.</p>
          <p>Another person that helped me A LOT is Beez Nguyên. He started giving me suggestions to improve the website from the very beginning and he never stopped! The website is so stable and usable also thanks to him.</p>
          <p>Last but not least, I'd like to thank Londync for giving me the idea and to everyone on the community who supported me a lot!</p>
          <p>If you encounter some problems or have an idea/question/suggestion, please, contact me on <a href="https://github.com/Dabolus/cr-card-maker" target="GitHubRepo">GitHub</a>.</p>
        </div>
      </div>
    </li>
    <li id="info-tabpanel-special-thanks" role="tabpanel" aria-labelledby="info-tab-special-thanks">
      <div class="info-box-container">
        <div class="info-box">
          <p>I want to give a special thank to all those people who supported me with a donation ❤</p>
          <ul>
            <li>Luigi</li>
            <li>Vince</li>
            <li>Tony</li>
            <li>Henry</li>
            <li>Jacob</li>
            <li>Mohamad</li>
            <li>Adam</li>
            <li>Jayden</li>
          </ul>
          <p><i>Surnames are excluded for privacy reasons.</i></p>
        </div>
      </div>
    </li>
  </ul>
</section>