.page#create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > #card-config-selects-container {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: rgba(0 0 0 / 0.24);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > div {
      display: flex;

      & > label,
      & > select {
        font: inherit;
        color: #fff;
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 2px 0 #000,
          1px 2px 0 #000;
      }

      & > label {
        flex: 0;
      }

      & > select {
        flex: 1;
        cursor: pointer;
        background: transparent;
        border: none;
        margin-left: 0.5rem;
        padding: 0 0.5rem;
      }
    }

    @media (min-width: 480px) {
      flex-direction: row;
    }
  }

  & > #card-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex: 1;
    width: 100%;
    height: 100%;

    // Make the dynamic card editor fill the container, but keep its aspect ratio
    & > [role='application'] {
      @media (orientation: portrait) {
        width: 100%;
        height: auto;
      }

      @media (orientation: landscape) {
        height: 100%;
        width: auto;
      }
    }
  }

  & > #actions {
    flex: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    gap: 0.5rem;

    & > .dropdown-menu-container {
      & > #actions-button {
        width: 3.2rem;
        height: 3rem;

        & > svg {
          stroke: #582d00;
          stroke-width: 1px;
        }
      }

      & > #actions-button-menu button {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > svg {
          width: 1.5rem;
          height: 1.5rem;
          stroke: #582d00;
          stroke-width: 1px;
        }
      }
    }
  }
}
