$font-title: 'Supercell Magic', serif;
$font-text: 'SC CCBackBeat', sans-serif;
$primary-color: #344253;
$secondary-color: #668bac;
$accent-color: #f0c419;
$text-on-primary: #fff;
$text-on-secondary: #fff;
$text-on-accent: #000;
