@use 'navbar';
@use 'loader';
@use 'buttons';

a {
  color: #4780f7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  overflow: hidden;
  background-color: #344253;
}

#content {
  height: 100%;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  // Alternative scroll snap for older browsers
  scroll-snap-points-x: repeat(100vw);
  scroll-snap-type: x mandatory;
}

.page {
  position: relative;
  display: inline-block;
  min-width: 100vw;
  min-height: calc(100% - navbar.$height);
  background:
    radial-gradient(transparent, rgba(0, 0, 20, 0.4)) no-repeat,
    url(../images/bg.svg) repeat;
  background-size:
    cover,
    97px 100px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-bottom: navbar.$height;
}

#global-notification {
  position: fixed;
  top: -64px;
  left: 0;
  box-sizing: border-box;
  font-size: 14px;
  z-index: 1000;
  background-color: #e0f5ff;
  color: #666;
  width: 100%;
  min-height: 48px;
  margin: 0;
  padding: 16px 24px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  transition: transform 0.24s ease-in-out;
  transform: translateY(0);

  &.clickable {
    cursor: pointer;
  }

  &[aria-hidden='false'] {
    transform: translateY(64px);
  }
}
